*{
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li{
    text-decoration: none;
    margin: 30px;
    align-items: center;
    transition-duration: 0.3s;
    list-style: none;
}
nav ul li a{
    color: rgb(108, 108, 108);
    align-items: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 1px solid grey;
    padding: 10px;
}
nav ul li:hover{
    transform: translateY(-3px);
    box-shadow: 1px 12px 5px 0px rgba(0,0,0,0.75);
}
nav ul li a:hover{
    transition-duration: 0.3s;
    color: white;
    border-radius: 10px;
}
.search{
    display: flex;
    align-items: center;
}
#logoimg{
    width: 60px;
    cursor: pointer;
    padding: 10px 0em 0em 5em;
}
#searchbar{
    width: 20rem;
    color: aliceblue;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(40, 39, 39);
    border: none;
}
#searchbar::-webkit-input-placeholder{
    padding: 0px 10px;
    color: rgb(108, 108, 108);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#searchlogo{
    color: rgb(108, 108, 108);
    padding: 0px 10px;
    cursor: pointer;
}
hr{
    border: 0.1px solid rgb(88, 88, 88);
}
.feed{
    margin: 20px 0 0 5em;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
#feed-title{
    color: rgb(231, 244, 255);
    cursor: default;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
}
#feedlogo{
    width: 3rem;
}
.post-info{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    color: white;
    margin: 1.5em 0em;
    padding: 3em;
    width: 65em;
    border-radius: 50px;
    height: 40em;
    background-color: rgba(220, 220, 255, 0.259);
}
.post1{
    padding: 20px;
    border-radius: 20px;
    width: 60em;
    background-color: rgba(111, 159, 255, 0.586);
    height: 20em;
    /* border: 2px solid rgb(111, 111, 255); */
}
.post1 .details{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    /* margin: 0.5em 0em; */
}
.post1 .details .user{
    display: flex;
    flex-direction: row;
    /* color: rgb(111, 111, 255); */
    font-size: 1rem;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5em 0.5em;
}
.post1 .details .user .user-detail{
    background-color: transparent;
    color: rgb(23, 23, 23);
    padding: 1px 15px;
    line-height: 1.4em;
    font-weight: 700;
    cursor: default;
    font-family: 'Ubuntu', sans-serif;
}
.user-dp{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    /* border: 2px solid rgb(111, 111, 255); */
}